.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-form {
  width: 460px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.users-container {
  margin-bottom: 25px;
}

.user-card {
  width: 230px;
  margin: auto;
  margin-top: 25px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.card-name {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-email {
  color: gray;
}

.user-form h1 {
  margin: 0px;
}

input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0px;
  text-align: left;
}

.checkbox-container {
  width: 100%;
  font-size: 12px;
}

.field-description {
  font-size: 12px;
  margin: 0px;
  padding-left: 5px;
  text-align: left;
}
